{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div>
        <h1> Bienvenue sur la page d'accueil </h1>

        <a href="{{path('app_bonbon')}}"> Voir nos bonbons </a>
    </div>
{% endblock %}
