{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{{ include('navbar/index.html.twig') }}
	<div id="div_accueil" class="container-height">
		<div>
			<img src="{{asset('assets/images/fond/logo_halloween_orange.png')}}" alt="ok">
		</div>
		<a href="{{path('app_bonbon')}}">
			Voir nos bonbons
		</a>
	</div>
{% endblock %}
