@font-face {
    font-family: 'halloween';
    src: url('../fonts/halloween/October\ Crow.ttf');
}

@font-face {
    font-family: 'halloween2';
    src: url('../fonts/halloween/DevilCandle_PERSONAL_USE_ONLY.otf');
}

/* ================= Base Styles ================= */
body {
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #4b0082, #d35400);
}

.container-height {
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    height: 100px;


    ul {
        display: flex;
        margin: 0;

        li:not(ul:last-child li:last-child) {
            list-style-type: none;
            padding: 30px 50px;
            font-family: 'halloween';
            font-size: 23px;

            a {
                color: rgb(182, 5, 182);
                padding: 30px;
            }
        }
    }

    ul:first-child {
        justify-content: space-around;
        width: 95%;
        margin-left: 80px;
    }

    ul:last-child {
        width: 5%;
        justify-content: end;

        li {
            list-style-type: none;
            margin-right: 20px;

            a {
                color: orange;
            }
        }
    }
}


/* Page produits */


.container-height h1 {
    font-family: 'halloween2';
    color: #e91e63;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-decoration: underline;
    margin: 20px 0;
}

#searchBar-div {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    input {
        width: 400px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 8px 3px 300px 30px white;
        background-color: black;
    }

}

.bonbons_liste {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
}

.div_img_produit{
    position: relative;
    width: 400px; 
    height: 500px;
    margin-top: 20px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 60px;
    }
}

.div-produits-text{
    position: absolute;
    top: 50%;
    left: 70px;
}

.div_img_produit:nth-child(odd){
    margin-top: 200px;
}

.link_produits:hover {
    scale: 1.1;
    transition: 1s;
}

/* icone panier sur les produits */
.addPanier {
    cursor: pointer;
}
