body {
    background-image: url('https://img.freepik.com/photos-gratuite/scene-halloween-citrouilles-malefiques_1409-5229.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Fond noir */
    color: #f5f5f5;
    /* Texte clair pour le contraste */
    font-family: 'Creepster', cursive;
    /* Police thématique d'Halloween (si disponible) */
}

h1 {
    color: #e74c3c;
    /* Rouge effrayant pour le titre */
    text-shadow: 2px 2px 5px #000000;
    /* Ombre pour un effet inquiétant */
}

.bonbons_liste {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #2e2e2e;
    /* Fond gris foncé pour les cartes */
    border: 2px solid #8e44ad;
    /* Bordure violette */
    color: #fff;
    /* Texte en blanc */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    /* Ombre pour un effet mystérieux */
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    /* Agrandissement léger au survol */
    box-shadow: 5px 5px 15px rgba(255, 0, 255, 0.6);
    /* Effet d'ombre violette au survol */
}

.card-title {
    color: #9b59b6;
    /* Violette pour les titres des cartes */
}

.card-text {
    color: #ecf0f1;
    /* Texte en gris clair */
}

a {
    color: #d35400;
    /* Lien en orange pour un effet citrouille */
    text-decoration: none;
}

a:hover {
    color: #f39c12;
    /* Changement de couleur au survol */
    text-decoration: underline;
    /* Surlignage au survol */
}

img {
    border-radius: 10px;
    /* Arrondir les bords des images */
    filter: grayscale(50%);
    /* Effet de filtre pour donner une ambiance plus terne */
    transition: filter 0.3s ease;
}

img:hover {
    filter: grayscale(0%);
    /* Retirer le filtre au survol */
}

nav ul {
    display: flex;
    justify-content: end;
    margin: 30px 0;
}

nav ul li {
    margin: 0 30px;
    list-style-type: none;
}

nav ul li:hover {
    transition: 3s;
    scale: 1.3;
}